@font-face {
    font-family: 'Gilroy';
    src: url('/font/Gilroy-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/font/Gilroy-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.rebels-screen-wrapper {
    position: relative;
    width: 1500px;
    height: 1500px;
    background-image: url('../img/rebels-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.RuMapDecor {
    position: relative;
    width: 1488px;
    height: 855px;
    top: 183px;
    left: 47px;
    background-image: url('../img/RuMap.png');
}
.logoRebels {
    position: absolute;
    width: 100%;
    height: 347px;
    top: 79px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.logoImg {
    position: relative;
    width: 348px;
    height: 347px;
    left: 70px;
}
.titleSubtitle {
    position: absolute;
    width: 659px;
    height: -webkit-fill-available;
    left: 477px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rebelsTitle {
    width: 646px;
    height: 183px;
    top: 119px;
    left: 477px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 109px;
    font-weight: 800;
    line-height: 106.99px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;  
}
.rebelsSubTitle {
    width: 659px;
    height: 46px;
    top: 351px;
    left: 477px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}
.MainContentRebels {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    top: 458px;
}
.RebelsAchievements {
    position: absolute;
    width: 750px;
    height: 1042px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}
.RebelsAchievementsItem {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 3.1%;
    gap: 15px;
}
.SVGRebels {
    height: auto;
    width: 84px;
}
.TxtRebelsAch {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.RebelsAchievementsNumbers {
    height: auto;
    font-family: Gilroy;
    font-size: 82px;
    font-weight: 800;
    line-height: 79.43px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 15px;
    color: white;
}
.RebelsAchievementsName {
    height: auto;
    font-family: Gilroy-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 15px;
    color: white;
}
.rebelsContentBlock {
 position: absolute;
 width: 550px;
 height: 1042px;
 left: 861px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}
.RebelsCalendar {
    position: relative;
    width: 480px;
    height: 838px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
}
.dataRebels {
    position: relative;
    width: max-content;
    height: 64px;
    left: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.yearRebels {
    height: 40px;
    width: fit-content;
    font-family: Gilroy;
    font-size: 40px;
    font-weight: 800;
    line-height: 44.95px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}
.promotionsByMonth {
    height: 37px;
    width: 160px;
    font-family: Gilroy-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    margin-left: 14px;
}
.CalendarItem {
    width: 110px;
    height: 70px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.CalendarItemYearAndMonth {
    font-size: 15px;
    font-family: 'Gilroy-Regular';
    text-align: center;
    line-height: 14.72px;
    color: #000;
    width: min-content;
    display: flex;
}

.CalendarItemCount {
    font-size: 36px;
    font-family: 'Gilroy';
    line-height: 35.34px;
    text-align: center;
    color: #000;
}
.RebelsContacts {
    width: 473px;
    height: 40px;
    top: 54px;
    position: relative;
    /* background: black; */
    display: flex;
    flex-direction: row;
    gap: 36px;
}
.InstRebels {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}
.TelegrRebels {
    width: -webkit-fill-available;
    height: auto;
    display: flex;
    align-items: center;
    gap: 18px;
}
.InstRebelsIcn {
    width: 40px;
    height: 40px;
}
.RebelsContactsTxt {
    font-family: 'Gilroy-Regular';
    font-size: 17px;
    font-weight: 400;
    line-height: 19.76px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}
@media (max-width: 1499px) {
        .rebels-screen-wrapper {
            width: 1200px;
            height: 1522px;
            background-image: url('../img/rebels-img.png');
            background-size: cover;
        }
    .RuMapDecor {
            position: relative;
            width: 1258px;
            height: 852px;
            top: 203px;
            left: -56px;
            background-image: url('../img/RuMap.png');
    }
    .RebelsAchievements {
            position: relative;
            width: 50%;
            height: 949px;
            top: 29px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 50px 0px;
            left: 5%;
            align-items: flex-end;
            justify-content: space-between;
            align-content: space-between;
        }
       .RebelsAchievementsItem {
            width: 280px;
            height: auto;
            display: flex;
            flex-direction: row;
           margin: 0%;
            gap: 15px;
        }
        .SVGRebels {
            width: 70px;
        }
        .TxtRebelsAch {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .RebelsAchievementsNumbers {
            height: auto;
            font-family: Gilroy;
            font-size: 78px;
            font-weight: 800;
            line-height: 74.43px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 0px;
           color: white;
        }
        .RebelsAchievementsName {
            height: auto;
            font-family: Gilroy-Regular;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 0px;
            color: white;
            width: max-content;
        }
        .rebelsContentBlock {
        position: absolute;
        width: 40%;
        height: auto;
        left: 55%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        }
        .MainContentRebels {
            display: flex;
            flex-direction: row;
        }
}
@media (max-width: 1200px) {
    .rebels-screen-wrapper {
    width: 950px;
    height: 100%;
    background-image: url('../img/rebels-img.png');
    background-size: cover;
    }
    .RuMapDecor {
    position: relative;
    width: 1280;
    height: 859px;
    top: 673px;
    left: -44px;
    background-image: url('../img/RuMap.png');
    }
    .RebelsAchievements {
    position: relative;
    width: 70%;
    height: 949px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px 0px;
    left: 0%;
    align-items: center;
    }
    .RebelsAchievementsItem {
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0%;
    gap: 15px;
    }
    .SVGRebels {
    width: 70px;
    }
    .TxtRebelsAch {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5%;
    }
    .RebelsAchievementsNumbers {
    height: auto;
    font-family: Gilroy;
    font-size: 78px;
    font-weight: 800;
    line-height: 74.43px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 0px;
    color: white;
    }
    .RebelsAchievementsName {
    height: auto;
    font-family: Gilroy-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 0px;
    color: white;
    width: max-content;
    }
    .rebelsContentBlock {
    position: relative;
    width: 70%;
    height: auto;
    top: 80px;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }
    .MainContentRebels {
    height: fit-content;
    top: -145px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    }
    .RebelsCalendar {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    }
    .CalendarItem {
    width: 110px;
    height: 70px;
    border-radius: 10px;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    }
    .logoRebels {
    position: absolute;
    width: 100%;
    height: auto;
    top: 39px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    }
    .logoImg {
    position: relative;
    width: auto;
    height: 150%;
    left: 0px;
    }
    .titleSubtitle {
    width: 659px;
    height: -webkit-fill-available;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    .rebelsTitle {
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 109px;
    font-weight: 800;
    line-height: 106.99px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    }
    .rebelsSubTitle {
    width: 659px;
    height: 46px;
    top: 351px;
    left: 477px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy-Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    }
    .RebelsContacts {
    width: 473px;
    height: 40px;
    top: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 36px;
    }
}
@media (max-width: 920.5px) {
    .rebels-screen-wrapper {
    width: 767px;
    height: 100%;
    background-image: url('../img/rebels-img.png');
    background-size: cover;
    }
    .RuMapDecor {
    position: relative;
    width: 1280;
    height: 859px;
    top: 818px;
    left: -104px;
    background-image: url('../img/RuMap.png');
    }
    .RebelsAchievements {
    width: 90%;
    height: 710px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px 0px;
    }
    .RebelsAchievementsItem {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0%;
    gap: 5px;
    }
    .SVGRebels {
    width: 44px;
    }
    .TxtRebelsAch {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1%;
    }
    .RebelsAchievementsNumbers {
    height: auto;
    font-family: Gilroy;
    font-size: 56px;
    font-weight: 800;
    line-height: 61.43px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 0px;
    color: white;
    }
    .RebelsAchievementsName {
    height: auto;
    font-family: Gilroy-Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 0px;
    color: white;
    width: max-content;
    }
    .rebelsContentBlock {
    position: relative;
    width: 90%;
    height: auto;
    top: 80px;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }
    .MainContentRebels {
    width: 100%;
    height: fit-content;
    top: -145px;
    display: flex;
    flex-direction: column;
    }
    .RebelsCalendar {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    }
    .CalendarItem {
    width: 110px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    }
    .logoRebels {
    top: 39px;
    display: flex;
    align-content: center;
    }
    .logoImg {
    position: relative;
    width: 70%;
    height: auto;
    left: 0px;
    }
    .titleSubtitle {
    position: relative;
    width: 100%;
    height: 400px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    .rebelsTitle {
    width: 100%;
    height: min-content;
    top: 18px;
    left: 0px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 70px;
    font-weight: 800;
    line-height: 64.99px;
    text-align: left;
    text-align: center;
    position: absolute;
    }
    .rebelsSubTitle {
    width: 80%;
    height: auto;
    top: auto;
    left: 10%;
    gap: 0px;
    font-family: Gilroy-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    }
    .RebelsContacts {
    width: auto;
    height: 40px;
    top: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: center;
    align-items: center;
    }
    @media (max-width: 450.5px) {
        .dataRebels {
            position: relative;
            width: max-content;
            height: 64px;
            left: 0px;
            align-content: center;
            }
        .yearRebels {
            height: 40px;
            width: fit-content;
            font-size: 32px;
            line-height: 44.95px;
            color: white;
            }
        .promotionsByMonth {
            height: 40px;
            width: 100px;
            font-size: 15px;
            font-weight: 400;
            line-height: 16px;
            margin-top: 5px;
            }
        .CalendarItem {
            width: 70px;
            height: 50px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            margin: 5px;
        }
        .CalendarItemYearAndMonth {
            font-size: 10px;
            font-family: 'Gilroy-Regular';
            text-align: center;
            line-height: 10.72px;
            color: #000;
            width: min-content;
            display: flex;
            position: relative;
            top: 7.5px;
        }
        .CalendarItemCount {
            font-size: 23px;
            font-family: 'Gilroy';
            line-height: 35.34px;
            text-align: center;
            color: #000;
            height: auto;
        }.rebelsTitle {
            opacity: 0px;
            font-size: 58px;
            line-height: 55.99px;
            text-align: left;
            text-align: center;
        }
        .rebelsSubTitle {
            gap: 0px;
            font-size: 17px;
            line-height: 21.8px;
        }
        .RebelsAchievementsItem {
            width: 150px;
            height: auto;
            display: flex;
            flex-direction: row;
            margin: 0%;
            gap: 5px;
        }
        .SVGRebels {
            width: 34px;
        }
        .TxtRebelsAch {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 1%;
        }
        .RebelsAchievementsNumbers {
            height: auto;
            font-family: Gilroy;
            font-size: 41px;
            font-weight: 800;
            line-height: 53.43px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 0px;
            color: white;
        }
        .RebelsAchievementsName {
            height: auto;
            font-family: Gilroy-Regular;
            font-size: 11px;
            font-weight: 400;
            line-height: 15px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 0px;
            color: white;
            width: max-content;
        }
        .RebelsContacts {
            width: auto;
            height: 51px;
            top: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            align-items: center;
        }
        .InstRebelsIcn {
            width: 28px;
            height: 28px;
        }
        .RebelsContactsTxt {
            font-family: 'Gilroy-Regular';
            font-size: 14px;
            font-weight: 400;
            line-height: 17.76px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFF;
        }
    }
}
