@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/GothamPro-Regular.woff2') format('woff2'),
         url('./fonts/GothamPro-Regular.woff') format('woff'),
         url('./fonts/GothamPro-Black-Regular.ttf') format('truetype'),
         url('./fonts/GothamPro-Regular.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Gotham Pro', Arial, sans-serif;
    /* justify-content: center;
    align-items: center; */
    /* min-height: 100vh; */
    background-color: #F8F9FA;
}
.main {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
}
.main-wrapper {
    position: absolute;
    width: 1440px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    justify-items: center;
    display: block;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    inset-area: center;
}
.main-header-vivitka {
    position: relative;
    width: 100%;
    height: 726.06px;
    background-color: #F8F9FA;
    display: grid;
}
.main-header {
    position: relative;
    width: 1440px;
    height: 76.06px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
    z-index: 1;
}
.logo {
    position: relative;
    width: 20px;
    height: 36.06px;
    margin: 0 190px 0 0;
}
.logo-image {
    position: relative;
    width: 20px;
    height: 36.06px;
}
.btn-list {
    display: flex;
    margin: 0 0 0 190px;
    align-items: center;
    gap: 42px;
}
.btn-list-else {
    width: auto;
    height: auto;
    display: flex;
    gap: 20px;
}
.nav-button {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: padding 0.4s ease, border 0.4s ease;
}

.nav-button.active {
    /* font-weight: 600; */
    background-color: #F8F9FA;
    padding: 6px 8px 6px 8px;
    border-radius: 8px;
}

.nav-button-ru {
    position: relative;
    width: 45px;
    height: 28px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    padding: 6px 8px;
    cursor: pointer;
}
.nav-button-ru:hover {
    background-color: #F9F8F7;
}
.header-suport-button{
    position: relative;
    width: 136px;
    height: auto;
    border: 1px solid #11000099;
    /* padding: 8px 12px 8px 12px; */
    border-radius: 6px;
}
.header-suport-button:hover {
    background-color: #F8F9FA;
}
.hover-only:hover {    
/* border: 1px solid #000000; */
background-color: #F8F9FA;   
padding: 6px 8px 6px 8px;    
border-radius: 8px;    
transition: padding 0.4s ease, border 0.4s ease;
}
.nav-button-suport {
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.91px;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: padding 0.4s ease, border 0.4s ease;
}
.dropdown-icon {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    width: 0.75rem;
    height: 0.625rem;
    position: relative;
    transition: transform 0.3s ease;
}


.dropdown-icon::before,
.dropdown-icon::after {
    content: '';
    position: absolute;
    width: 7.5px;
    height: 1px;
    border-radius: 4px;
    background-color: #000;
    transform-origin: left;
    transform-origin: center;
}

.dropdown-icon::before {
    transform: rotate(135deg);
    top: 5.5px;
    left: 0px;
}

.dropdown-icon::after {
    transform: rotate(45deg);
    left: -5px;
    top: 5.5px;
}
.dropdown-only.active .dropdown-icon::before {
    transform: rotate(225deg); /* Первая линия поворачивается вверх */
}

.dropdown-only.active .dropdown-icon::after {
    transform: rotate(-45deg); /* Вторая линия поворачивается вверх */
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 183%;
    left: 0;
    width: 479px;
    height: 124px;
    background-color: #FFFFFF;
    /* border: 1px solid #000000; */
    /* border-radius: 5px; */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    z-index: 100;
    opacity: 0;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}
.block-dropdown-menu {
    width: max-content;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Элементы внутри дропдауна */
.dropdown-menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    border-radius: 8px;
    font-size: 14px;
    padding: 6px 8px 6px 8px;
    /* background-color: #F8F9FA; */
}

.dropdown-menu a:hover {
    background-color: #F8F9FA;
}


/* Плавный переход для анимации */
.dropdown-icon::before,
.dropdown-icon::after {
    transition: transform 0.3s ease;
}

.dropdown-only.active .dropdown-menu {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    flex-direction: row;
    padding: 24px;
    border-radius: 20px;
    gap: 10px;
    justify-content: space-between;


}
/* .dropdown-menu-lng {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
} */

.dropdown-menu-lng {
    display: none;
    position: absolute;
    top: 55%;
    left: 17%;
    width: 0px;
    height: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    z-index: 100;
    opacity: 0;
    /* transform: translateY(-10px); */
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    padding: 10px;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-between; */
}


.dropdown-menu-lng a {
    display: block;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 8px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

/* Ховер-эффект для пунктов меню */
.dropdown-menu-lng a:hover {
    background-color: #F8F9FA;
}

/* Показать меню, когда родитель имеет класс 'active' */
.dropdown-only.active .dropdown-menu-lng {
    display: flex; /* Показать меню */
    opacity: 1;
    transform: translateY(0);
    width: max-content;
    height: auto;
    top: 170%;
    left: -5%;
    gap: 20px;
}
.main-vizitka{
    position: relative;
    width: 1440px;
    height: 650.06px;
    background-color: #F8F9FA;
}
.main-vizitka-layout {
    position: relative;
    background-color: #F8F9FA;
    width: 1440px;
    height: 500px;
    top: 100px;
    display: flex;
    flex-direction: row;
    /* gap: 26px; */
    align-items: center;
    justify-content: space-evenly;
}
.vizitka-txt {
    position: relative;
    background-color: #F8F9FA;
    width: 639px;
    height: 341px;
    /* display: flex; */
    gap: 26px;
    display: grid;
}

.title-subtitle {
    position: relative;
    gap: 16px;
    width: 639px;
    height: 217px;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
}
.vizitla-title {
    position: relative;
    gap: 16px;
    width: fit-content;
    height: 105px;
    background-color: #F8F9FA;
    margin: 0px;
    font-family: Gotham Pro;
    font-weight: 900;
    font-size: 110px;
    line-height: 105.27px;
    color: #1d1d22;
    /* font-family: system-ui;*/
}
.vizitka-subtitle {
    position: relative;
    gap: 16px;
    width: 639px;
    height: 96px;
    background-color: #F8F9FA;
    margin: 0px;
    font-family: Gotham Pro;
    font-weight: 900;
    font-size: 44px;
    line-height: 48.4px;
    color: #1D1D22;
}
.vizitka-text {
    width: 520px;
    height: 96px;
    gap: 0px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    margin: 0px;
    color: #737373;
}

.main-img {
    position: relative;
    width: 644px;
    height: 500px;
}
.main-content {
    position: relative;
    background-color: #F8F9FA;
    width: 1440px;
    height: auto;
}
.section-distracted {
    position: relative;
    background-color: #F8F9FA;
    width: 100%;
    height: 400px;
}
.section-distracted-block {
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: 400px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-section-distracted-block {
    position: relative;
    background-color: #fefefe;
    width: max-content;
    height: 120px;
    display: grid;
    padding: 0 5px 0 30px; 
}


.info-section-distracted-block:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px; 
    height: 100%; 
    width: 1px; 
    background-color: #e0e0e0; 
    z-index: 1; 
}

.section-distracted-title {
    position: relative;
    gap: 16px;
    width: max-content;
    height: auto;
    background-color: #FFFFFF;
    margin: 0px;
    font-family: Gotham Pro;
    font-weight: 900;
    font-size: 44px;
    line-height: 48.4px;
    color: #1D1D22;
}

.section-distracted-text {
    width: 263px;
    height: 48px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    margin: 0px;
    color: #737373;
}
.section-map {
    position: relative;
    display: flex;
    width: 100%;
    height: 927px;
    background-color: #F8F9FA;
}
.section-map-title {
    position: absolute;
    /* width: ;
    height: ; */
    top: 79.94px;
    left: 62px;
    width: 644px;
    height: 228px;
    margin: 0px;
    font-family: Gotham Pro;
    font-weight: 900;
    font-size: 76px;
    line-height: 76px;
    color: #1D1D22;
    z-index: 1;
}

.map-pmg{
    position: relative;
    width: 100%;
    height: 828px;
    top: 140px;
}
.section-achievements {
    width: 1440px;
    height: 654px;
    /* padding: 100px 62px 100px 62px; */
    /* gap: 64px; */
    background-color: #F8F9FA;
    display: grid;
    justify-content: center;
    align-items: center;
}
.achievements-title-button {
    position: relative;
    width: 1316px;
    height: 152px;
    /* gap: 0px; */
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}
.achivements-title {
    width: 638px;
    height: 152px;
    gap: 16px;
    opacity: 0px;
    font-family: Gotham Pro;
    font-size: 76px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
}
.achievements-button {
    width: 148px;
    position: relative;
    height: 53px;
    padding: 16px 20px;
    border-radius: 8px;
    background: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

/* .achievements-title-button:hover .achievements-button {
    opacity: 1;
} */
.achievements-list {
    position: relative;
    /* background-color: #ffffff; */
    width: 1316px;
    height: 236px;
    display: flex;
    justify-content: space-between;
}
.achievements-item {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 362px;
    height: 190px;
    padding: 24px;
    display: grid;
    gap: 24px;
    border-radius: 20px;
}
.screpka {
    width: 24px;
    height: 24px;
    padding: 0px 0.76px 0px 0.11px;
    gap: 0px;
    opacity: 0px;
}
.achievements-texty {
    position: relative;
    width: 263px;
    height: 123px;
    gap: 8px;
    display: grid;
}
.achievements-title {
    width: fit-content;
    height: fit-content;
    font-family: Gotham Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 19.14px;
    text-align: center;
    color: #2D2E2E;
    font-weight: 600;
}
.achievements-text {
    width: 263px;
    height: 96px;
    gap: 0px;
    /* font-family: Robboto; */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #737373;
}
.section-news {
    width: 1240PX;
    height: 1406px;
    padding: 100px 62px 100px 62px;
    gap: 64px;
    display: grid;
    align-content: space-between;
}
.news-title-button {
    position: relative;
    width: 1316px;
    height: 152px;
    /* gap: 0px; */
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}
.news-title {
    width: 638px;
    height: 152px;
    gap: 16px;
    opacity: 0px;
    font-family: Gotham Pro;
    font-size: 76px;
    font-weight: 600;
    line-height: 76px;
    text-align: left;
}
.news-button {
    width: fit-content;
    position: relative;
    height: fit-content;
    padding: 16px 20px;
    border-radius: 8px;
    background: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.news-block {
    position: relative;
    width: 1316px;
    height: 1114px;
    /* background-color: #737373; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
}
.news-item {
    width: 580px;
    height: 479px;
    padding: 32px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-img {
    position: relative;
    width: 580px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 16px;
}
.news-discroption {
    position: relative;
    width: auto;
    height: auto;
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.news-discroption-title {
    position: relative;
    width: auto;
    height: auto;
    /* background-color: #ffffff; */
    font-family: Gotham Pro;
    font-weight: 600;
    font-size: 20px;
    line-height: 19.14px;
}
.news-discroption-text {
    position: relative;
    width: auto;
    height: auto;
    /* background-color: #ffffff; */
    /* font-family: robboto; */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
}
.news-discroption-data {
    position: relative;
    bottom: 0px;
    width: fit-content;
    height: auto;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: 10px 12px 10px 12px;
    gap: 6px
}
.data-item {
    position: relative;
    width: 16px;
    height: 16px;
}
.dd-ww-yyyy {
    position: relative;
    width: auto;
    height: auto;
}
.section-future {
    width: 1440px;
    height: 620px;
    background-color: #F8F9FA;
}

.section-future-content {
    width: 1316px;
    height: 520px;
    background-color: #ffffff;
    padding: 50px 62px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.advantage-title-text {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.section-future-texty {
    width: 447px;
    height: 346px;
    position: relative;
    display: grid;
    align-content: space-between;
}
.section-future-text {
    width: 100%;
    height: auto;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
}
.section-future-about-text {
    width: 100%;
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-future-advantage{
    width: fit-content;
    height: fit-content;
    background-color: #F8F9Fa;
    border-radius: 12px;
    padding: 10px 12px;
    color: #737373;
    display:flex
}
.advantage-name{
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    font-size: 16px;
    line-height: 15.31px;
    color: #737373;
    font-weight:bold;
}
.advantage-number {
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    font-size: 16px;
    line-height: 15.31px;
    color: #000000;
    font-weight:bold;
}
.section-future-title {
    width: fit-content;
    height: fit-content;
    font-family: Gotham Pro;
    font-size: 44px;
    line-height: 48.4px;
    color: #1D1D22;
    font-weight:bold
}
.future-img {
    width: auto;
    height: 100%;
    position: relative;
}
.section-future2 {

    width: 1440px;
    height: 620px;
    background-color: #F8F9FA;
}
.section-future3 {
    width: 1440px;
    height: 620px;
    background-color: #F8F9FA;
}
.section-future2-content {
    width: 1316px;
    height: 520px;
    padding: 50px 62px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 26px;
    align-items: center;
}
.future2-img{
    width: 868px;
    height: 100%;
    position: relative;
}
.section-future2-texty {
    width: 420px;
    height: 346px;
    position: relative;
    display: grid;
    align-content: space-between;
}
.section-future-about-text {
    width: 100%;
    height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-future2-advantage {
    width: fit-content;
    height: fit-content;
    background-color: #F8F9Fa;
    border-radius: 12px;
    padding: 10px 12px;
    color: #737373;
    display:flex
}
.section-future2-about-text {
    width: 100%;
    height: 342px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.section-supportUs {
    background-color: #F8F9FA;
    width: 1316px;
    height: 508px;
    padding: 100px 62px 100px 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-supportUs-donation {
    background-color: #F8F9FA;
    width: 1316px;
    height: 368px;
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section-supportUs-donationItem {
    width: 356px;
    height:267px;
    padding: 32px;
    gap: 32px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, transform 0.3s ease, height 0.5s ease;
}
.suppots-name{
    width: fit-content;
    height: fit-content;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
    position: relative;
    background-color: #F8F9FA;
    font-size: 16px;
    line-height: 15.31px;
    color: #1D1D22;
    font-weight: 600;
}
.suppots-cost-descr {
    width: 356px;
    height: 120px;
    gap: 24px;
    display: grid;
}
.soppots-cost {
    width: fit-content;
    height: fit-content;
    gap: 4px;
    display: flex;
    align-items: baseline;
}
.supports-description {
    width: 356px;
    height: 48px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #1D1D22;
}
.supports-button {
    width: 100%;
    height: auto;
    padding: 17px 20px;
    border-radius: 8px;
    border: 1px solid #11000099;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 21.09px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.supports-button.active {
    background-color: #f0f0f0; 
    border-color: #333; 
    color: #333; 
}
.news-button.active {
    background-color: #f0f0f0; 
    border-color: #333; 
    color: #333; 
}
.section-supportUs-donationItem:hover {
    background-color: #1D1D22; 
    color: #FFFFFF;
    height: 304px; 

}

.section-supportUs-donationItem:hover .suppots-name,
.section-supportUs-donationItem:hover .supports-button,
.section-supportUs-donationItem:hover .supports-description {
    color: #ffffff;
}
.section-supportUs-donationItem:hover .suppots-name {
    background-color: #303035;
    border: 1px solid #303035;
}

.section-supportUs-donationItem:hover .soppots-cost .section-future-title,
.section-supportUs-donationItem:hover .soppots-cost .achievements-title {
    color: #FFFFFF; 
}

.section-supportUs-donationItem:hover .supports-button {
    background-color: #1D1D22;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.section-supportUs-donationItem:hover .supports-button:hover {
    background-color: #FFFFFF;
    color: #1D1D22;

}
.section-contacts {
    width: 1316px;
    height: 414px;
    padding: 40px 62px 40px 62px;
    gap: 28px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}
.section-contacts-blockitem {
    width: 1316px;
    height: 306px;
    gap: 28px;
    /* background-color: #5b2424; */
    display: flex;
}
.section-contacts-blockitem-1 {
    width: 580px;
    height: 242px;
    padding: 32px;
    gap: 32px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.section-contacts-blockitem-2 {
    width: 356px;
    height: 242px;
    padding: 32px;
    gap: 32px;
    border-radius: 20px;
    background-color: #ffffff;
}
.section-contacts-blockitem-3 {
    width: 130px;
    height: 242px;
    padding: 32px;
    gap: 32px;
    border-radius: 20px;
    background-color: #ffffff;
}
.section-contacts-rights {
    width: 1252px;
    height: 16px;
    padding: 32px;
    border-radius: 20px;
    background-color: #ffffff;
}
.section-contacts-blockitem-1-else {
    width: 393px;
    height: 115px;
    gap: 80px;
    background-color: #ffffff;
    flex-direction: row;
    display: flex;
}
.section-contacts-blockitem-1-link {
    width: auto;
    height: 16px;
    gap: 80px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.section-contacts-blockitem-1-else-1 {
    width: fit-content;
    height: fit-content;
    gap: 16px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.contacts-main-item {
    width: auto;
    height: auto;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
    color: #1D1D22;        
}
.contacts-item-1 {
    width: 81px;
    height: min-content;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.contacts-item {
    width: fit-content;
    height: min-content;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    display: flex;
    flex-direction: row;
    color: #1D1D22;
}
.section-contacts-contacts{
    width: 326px;
    height: 196px;
    gap: 32px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-contacts-contacts-1 {
    background-color: #ffffff;
    width: 326px;
    height: 127px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-contacts-contacts-1-1 {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 16px;
}
.section-contacts-SVG{
    width: 20px;
    height: 20px;
}
.section-contacts-blockitem-3-1 {
    width: 88px;
    height: 193px;
    gap: 32px;
    /* background-color: #392a64; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.section-contacts-social {
    width: fit-content;
    height: fit-content;
    font-family: Gotham Pro;
    font-size: 20px;
    font-weight: 400;
    line-height: 19.14px;
    text-align: center;
    color: #2D2E2E;
    font-weight: 600;
    padding-bottom: 18px;
}
.section-contacts-rights-text {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: #737373;
}