/* Основные стили */
.section-distracted {
    position: relative;
    background-color: #F8F9FA;
    width: 100%;
    padding: 50px 0;
}

.section-distracted-block {
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Для переноса блоков на следующую строку */
    padding: 50px 0px;
    box-sizing: border-box;
}

.info-section-distracted-block {
    position: relative;
    background-color: #fefefe;
    width: 100%;
    max-width: 300px; /* Устанавливаем максимальную ширину для блоков */
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

/* Разделитель между блоками */
.info-section-distracted-block:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px; 
    height: 100%; 
    width: 1px; 
    background-color: #e0e0e0; 
    z-index: 1; 
}

.section-distracted-title {
    font-family: Gotham Pro, sans-serif;
    font-weight: 900;
    font-size: 44px;
    color: #1D1D22;
    margin: 0 0 10px 0;
}

.section-distracted-text {
    font-family: sans-serif;
    font-size: 16px;
    color: #737373;
    line-height: 24px;
    text-align: center;
}

/* Медиазапросы для адаптивности */

/* Для экранов шириной 1024px и меньше (планшеты) */
@media (max-width: 1024px) {
    .section-distracted-block {
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }

    .info-section-distracted-block {
        width: 80%; /* Уменьшаем ширину блоков */
        max-width: none;
        margin: 15px 0;
    }

    .section-distracted-title {
        font-size: 36px; /* Уменьшаем размер шрифта */
    }

    .section-distracted-text {
        font-size: 14px; /* Уменьшаем размер шрифта */
    }
}

/* Для экранов шириной 768px и меньше (планшеты в вертикальной ориентации и мобильные устройства) */
@media (max-width: 768px) {
    .section-distracted-block {
        flex-direction: column;
        justify-content: center;
    }

    .info-section-distracted-block {
        width: 90%; /* Ширина блоков еще меньше */
        margin: 10px 0;
    }

    .section-distracted-title {
        font-size: 30px; /* Еще меньше размер шрифта */
    }

    .section-distracted-text {
        font-size: 12px; /* Снижаем размер шрифта для мобильных */
    }
}

/* Для экранов шириной 480px и меньше (мобильные телефоны) */
@media (max-width: 480px) {
    .section-distracted-block {
        flex-direction: column;
        justify-content: center;
    }

    .info-section-distracted-block {
        width: 100%; /* Блоки занимают всю ширину экрана */
        margin: 10px 0;
    }

    .section-distracted-title {
        font-size: 24px; /* Маленький размер шрифта для мобильных */
    }

    .section-distracted-text {
        font-size: 10px; /* Очень маленький шрифт для текста */
    }
}
